body {
  height: 100vh;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  padding: 50px;
}
.timecounter{
  text-align: center;
  background-color: black;
  padding: 200px;
  font-family: sans-serif;
  color: #009df9;
  border-radius:  10px;
}

.buttonstyle
{
   background-color: black;
   color: #009df9;
   border: 2px solid #009df9;
   padding: 15px;
   font-weight: bold;
   font-family:  monospace;
   font-size:  1.5rem;
}
.incdec {
  font-size:  1em;
  width: 30px;
  height: 30px;
  font-family:  sans-serif;
  color: #009df9;
  border: 0;
  background: none;
  font-weight: bold;
  line-height:  3px;
  }
